.filter_title{
    color: black;
}

.filter_main
{
    padding:15px;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    left:40px;
    top:55px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    box-sizing:content-box;
    width:220px;
    height:90px;
}
.filter_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.group_text{
    font-size: 14px;
    font-weight: 400;
    color: #7e7e80;
}

.group_select{
    border-width:1px;
    border-style: solid;
    border-radius: 6px;
    padding:3px;
    border-color: #7e7e80;
}