.App{
  min-height:100vh;
  padding-bottom: 20px; 

}
.header{
    background-color: #ffffff;
    min-height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left:30px;
    padding-right:30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-width: 1px;
  border-color: black;
  padding:6px;
  border-radius:6px;
  width:80px;
  box-sizing: content-box;
  border-style: solid;height: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.img_display{
  width: 13px;
  height: 13px;
}

.btn_text{
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
